extends layout

block content
  include index/navbar
  include index/footer
  .container.ref__content
    .login
      h2.title Para iniciar el registro ingrese los siguintes datos
      form(action="/inicio-registro", method="POST")
        .form-row
          .form-group.col-md-12
            label Numero de Cuenta(*)
            input.form-control(name='noCuenta' type='text')
          .form-group.col-md-12
            label Contraseña(*)
            input.form-control(name='contraseña' type='password')
        button.btn.btn-outline-dark(type="submit") Iniciar registro
