extends layout
block content
  include index/navbar
  include index/footer
  .container
    section.section_start
      h1 SISTEMA DE REGISTRO PARA EL CURSO DE NATACIÓN
      .section__img
        img.img__sw1(src='../images/alberca2.jpg')
        img.img__sw2(src='../images/alberca.jpg')
      .card
        h5.card-header AVISO
        .card-body
          p.card-text Para poder tener acceso al registro deberas ser alumno inscrito de la Preparatoria número 5 José Vasconcelos
