doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Nunito|Quicksand:500', rel='stylesheet')
  body
    block content
  script(rel='stylesheet', src='/javascripts/jquery.js')
  script(rel='stylesheet', src='/javascripts/bootstrap.min.js')
  script(rel='stylesheet', src='/javascripts/index.js')
