extends layout

block content
  include index/navbar
  include index/footer
  .container.ref__content
    .login
      h2.title Inicio De Administrador
      form
        .form-row
          .form-group.col-md-12
            label Usuario
            input#inputCity.form-control(type='text')
          .form-group.col-md-12
            label Contraseña
            input#inputCity.form-control(type='password')
          button.btn.btn-outline-dark(type='button') Iniciar Sesión
