header
  .first__nav
    .container
      img.img-left(src='../images/plecaunam.jpg', alt='head1')
      img.img__right(src='../images/rotate3.jpg' alt='dgenp images')
  .second__nav
    .container
      nav.nav__child
        div
        ul
          li
            a(href='/')  INICIO
          li
            a(href='alumnos')  ALUMNOS
          li
            a(href='profesores')  PROFESORES
          li
            a(href='login')  ADMINISTRADOR

